.g1 {
  color: #c4160c;
}
.oglobo {
  color: #1e4b9b;
}
.valor {
  color: #006766;
}
.ge {
  color: #26b55e;
}
.cartola {
  color: #e3662b;
}
.globoplay {
  color: #fb0735;
}
.dropz {
  color: #ff75bb;
}
.gshow {
  color: #ec7d00;
}
.quem {
  color: #323333;
}
.receitas {
  color: #a81d83;
}

.vermelho {
  color: #c4170c;
}
.verde {
  color: #16ae54;
}
.laranja {
  color: #ec8006;
}
.tech {
  color: #666666;
  display: none;
}
.videos {
  color: #2c69de;
  display: none;
}
